.table {
  border-collapse: collapse;
    border: solid black;
   text-align: center;
}
.sbtitle {
    background-color: yellow;
}

tr:hover {
background-color: chocolate;
color: white; /* не получается */
}

input:focus {

  background-color: rgb(211, 112, 0);
} 


[type="submit"] {
  background-color: orange;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
}


.btn:hover {
  background-color: red
}

.btn {
  transition: background-color 0.4s;
}

.btn:active {
  box-shadow: 3px 3px 1px 1px rgb(133, 0, 0);
}


.text::after {
content: 'AFTER';
color: orange;
}
.text::before {
  content: 'BEFORE';
  color: red;
}


.block:hover {
  width: 0px;
  font-size: 0px;
  background-color: coral;
}


.block:active {
  width: 300px;
  font-size: 14px;
}



.text:hover+.block {
font-size: 16px;
}